.threadBox {
    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.threadTitle {
    padding-bottom: 20px;
    border-bottom: 2px solid darkgreen;
}
.commentForm {
    margin-left: 150px;
    margin-right: 150px;
}

.commentBox {
    width: 100%;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
}

.commentBoxLabel {
    font-size: 15px;
}

.commentsHeader {
    margin-left: 150px;
}

.comments {
    margin-left: 150px;
    margin-right: 150px;
}

.parent-comment {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.children-comments {
    margin-left: 20px;
    
}

.hide {
    display: none;
}

.responseUser {
    color: darkgreen;
}

.responseDate {
    float: right;
    font-size: 15px;
}



.reply-button {
    display: inline-block;
    border: none;
    padding: 5px;
    text-decoration: none;
    background: darkgreen;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
                border-radius: 5px;
}

.reply-button:hover,
.reply-button:focus {
    background: darkgreen;
}

.reply-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.reply-button:active {
    transform: scale(0.99);
}

.responseBox {
    width: 50%;
    height: 50px;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* #search {
    padding-top: 36px;
} */


input[type=submit] {
    display: inline-block;
    border: none;
    padding: 5px;
    text-decoration: none;
    background: darkgreen;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    }